{% extends 'base.html.twig' %}

{% block section %}
    <div class="wallwood">
        <div class="construct">
            <div class="gnome">
                <img class="resp" src="{{ asset('img/gnome.png') }}" alt="">
            </div>
    </div>

    </div>
{% endblock %}

