{% extends 'forum/forum_base.html.twig' %}

{% block section %}

{% if subCategories is not empty %}

    {% for category in subCategories %}
        <div class="forum_categories">

            <a href="{{ path('forum_category') }}"><h4 class="sub-title">{{ category.titleCategory }}</h4></a>

        </div>
    {% endfor %}

{% endif %}





{% endblock %}